/* body {
  overflow: hidden;
} */

#loading-screen {
  position: absolute;
  background: #ffffff;
  opacity: 0.75;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  color: #17141f;
}

/* class for scrollable fluidPage*/
.scrollPage {
  overflow-y: scroll;
}

/* sidebar and main panel layouts -
need to set height to absolute units (i.e. not %) to use scroll
on the element*/

.sidePanelStyle {
  max-height: calc(100vh - 105px);
  overflow-y:scroll;
  padding: 5px;
}

.mainPanelStyle {
  max-height: calc(100vh - 105px);
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0px;
}

/* Shiny */
.shiny-notification {
  z-index: 800;
  position: fixed;
  top: calc(50%);
  left: calc(50%);
}

/*set colour on sliders*/
.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-top: 1px solid #593196;
    border-bottom: 1px solid #593196;
    background: #593196;
}

.irs-to, .irs--shiny .irs-single {
    color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #593196;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
}

/* Leaflet */

#web_map {
  min-height: calc(100vh - 105px);
  position: relative;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background-color: #f8f9fa
}

.leaflet-map-pane {
  z-index: auto;
}

/* docs tab */

.docs {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.docs_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: thin silver solid;
}


/* Misc */
/* purple horizontal rule*/

.hr-purple {
  border-color: #593196 !important;
}

.dt-scroll {
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0px;
}
